<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .err{
            color: red;
        }
        .success{
            color: greenyellow;
            font-weight: bold;
        }
    </style>
</head>
<body>
<h3>Student Form</h3>
<form action="#" th:object="${student}" th:action="@{/edit/} + ${id}" th:method="POST">
    ID: <input type="hidden" th:field="*{id}" th:value="${student.id}"/><br/>
    Name: <input type="text" th:field="*{name}" th:value="${student.name}"/> <p th:class="err" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>  <br/>
    Age: <input type="number" th:field="*{age}" th:value="${student.age}"/> <p th:class="err" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</p> <br/>
    Email: <input type="email" th:field="*{email}" th:value="${student.email}"/> <p th:class="err" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</p> <br/>
    <button type="submit">Edit</button>
</form>
<a th:href="@{/}">Home</a>
</body>
</html>