#whole{
    width: 90%;
    height: auto;
    margin: 0 auto;
}
/*************************Header Starts**********************/
#header{
    width: 100%;
    height: 100px;
    background: #cc0033;
}
#headerleft{
    width: 10%;
    height: 100px;
    float: left;
     
}
#headerright{
    width: 90%;
    height: 100px;
    float: left;
}
.title{
    text-align: center;
    color: #ccffff;
}
/************************Menu Starts*************************/
#menu{
    width: 100%;
    height: 60px;
    background: #ff9999;
    text-align: center;

}
#menu a{
    text-decoration: none;
    padding: 0px 50px;
    line-height: 2;
    color: #ffffff;
    font-weight: 800;
}
#menu a:hover{
    text-decoration: none;
    padding: 0px 50px;
    line-height: 2;
    color: #333333;
    font-weight: 800;
}
/************************Body Starts*************************/
#body{
    width: 100%;
    height: auto;
    min-height: 400px;  
}
#bodyleft{
    width: 30%;
    height: auto;
    min-height: 400px;
    float: left;
    background: #9900ff; 
}
#bodymiddle{
    width: 40%;
    height: auto;
    min-height: 400px;
    float: left;
    background: #330099; 
}
#bodyright{
    width: 30%;
    height: auto;
    min-height: 400px;
    float: left;
    background: #0033ff; 
}
/************************Footer Starts*************************/
#footermain{
    width: 100%;
    height: auto;
    min-height: 200px;
    background: #ff3333;  
}
.footer{
    width: 33.33%;
    height: auto;
    min-height: 200px;
    float: left;
}
/************************Copyright Starts*************************/
#copyright{
    width: 100%;
    height: 50px;
    background: #ff0000;
    color: #333333;
}
.para{
    line-height: 2;
    text-align: center;
}
p, h1, h2, h3, h4{
    padding: 0px 10px;
}
