<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Home</title>
</head>
<body>
	<span th:text="${successuser}"></span>
    <form th:action="@{/user/add}" th:object="${user}" method="POST">
        <table>
            <tr>
                <td><label>Roles: </label></td>
                <td>
                    <select th:field="*{roles}" multiple>
                        <option th:each="role : ${rolelist}" th:value="${role.id}">
                            <span th:text="${role.rolename}"></span>
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label>Name: </label></td>
                <td>
                    <input type="text" th:field="*{name}"/>
                </td>
            </tr>
            <tr>
                <td><label>Mobile: </label></td>
                <td>
                    <input type="text" th:field="*{mobile}"/>
                </td>
            </tr>
            <tr>
                <td><label>Email: </label></td>
                <td>
                    <input type="email" th:field="*{email}"/>
                </td>
            </tr>
            <tr>
                <td><label>User Name: </label></td>
                <td>
                    <input type="text" th:field="*{username}"/>
                </td>
            </tr>
            <tr>
                <td><label>Password: </label></td>
                <td>
                    <input type="password" th:field="*{password}"/>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit">Insert</button>
                </td>
            </tr>
        </table>
    </form>
    <a th:href="@{/user/list}">User List</a>
</body>
</html>