<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Home</title>
</head>
<body>
	<a th:href="@{role/add}">Add Role</a>
    <table>
        <tr>
            <th>Role Name</th>
        </tr>
        <tr th:each="r : ${list}">
            <td th:text="${r.rolename}"></td>
        </tr>
    </table>
    <a th:href="@{/dashboard}">Home</a>
</body>
</html>