<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
    <style type="text/css">
        .success{
            color: greenyellow;
            font-weight: bold;
        }
        .err{
            color: red;
        }
    </style>
</head>
<body>
<span th:class="success" th:text="${successmsgrole}"></span>
<form th:action="@{/add-role}" th:object="${role}" method="POST">
    <table>
        <tr>
            <td><label>Role Name: </label></td>
            <td><input type="text" th:field="*{roleName}"/></td>
            <td th:class="err" th:if="${#fields.hasErrors('roleName')}" th:errors="*{roleName}"></td>
            <span th:class="err" th:text="${existmsg}"></span>
        </tr>
        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
</form>
<a th:href="@{/role-list}">Role list</a>
</body>
</html>