<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
    <style type="text/css">
        .success{
            color: greenyellow;
            font-weight: bold;
        }
		.err {
            color: red;
        }
    </style>
</head>
<body>

<form action="#" th:action="@{/edit/} + ${id}" th:object="${user}" method="POST" enctype="multipart/form-data">
    <table>
        <input type="hidden" th:field="*{id}" th:value="${user.id}"/>
        <input type="hidden" th:field="*{regiDate}" th:value="${user.regiDate}"/>
        <tr>
            <td><label>Roles :</label></td>
            <td>
                <select th:field="*{roles}" multiple>
                    <option th:each="role : ${rolelist}" th:value="${role.id}">
                        <span th:text="${role.roleName}"></span>
                    </option>
                </select>
            </td>
            <td th:class="err" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>
        </tr>
        <tr>
            <td><label>Name :</label></td>
            <td><input type="text" th:field="*{name}" th:value="${user.name}"/></td>
            <td th:class="err" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>
        </tr>
        <tr>
            <td><label>Email :</label></td>
            <td><input type="email" th:field="*{email}" th:value="${user.email}"/></td>
            <td th:class="err" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></td>
        </tr>
        <tr>
            <td><label>Phone :</label></td>
            <td><input type="text" th:field="*{phone}" th:value="${user.phone}"/></td>
            <td th:class="err" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></td>
        </tr>
        <tr>
            <td><label>Age :</label></td>
            <td><input type="number" th:field="*{age}" th:value="${user.age}"/></td>
            <td th:class="err" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></td>
        </tr>
        <tr>
            <td><label>Gender :</label></td>
            <td>
               Male: <input type="radio" th:field="*{gender}" th:value="Male"/>
               Female: <input type="radio" th:field="*{gender}" th:value="Female"/>
            </td>
            <td th:class="err" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></td>
        </tr>
        <tr>
            <td><label>Courses :</label></td>
            <td>
                PPT: <input type="checkbox" th:field="*{courses}" th:value="PPT"/>
                HTML: <input type="checkbox" th:field="*{courses}" th:value="HTML"/>
                JavaScript: <input type="checkbox" th:field="*{courses}" th:value="JavaScript"/>
                Core Java: <input type="checkbox" th:field="*{courses}" th:value="Core-Java"/>
                Advanced Java: <input type="checkbox" th:field="*{courses}" th:value="Advanced-Java"/>
                Java EE: <input type="checkbox" th:field="*{courses}" th:value="Java-EE"/>
                Spring: <input type="checkbox" th:field="*{courses}" th:value="Spring"/>
            </td>
            <td th:class="err" th:if="${#fields.hasErrors('courses')}" th:errors="*{courses}"></td>
        </tr>
        <tr>
            <td><label>Round :</label></td>
            <td>
                <select th:field="*{round}">
                    <option th:value="36">36</option>
                    <option th:value="37">37</option>
                    <option th:value="38">38</option>
                </select>
            </td>
            <td th:class="err" th:if="${#fields.hasErrors('round')}" th:errors="*{round}"></td>
        </tr>
        <tr>
            <td><label>Birth Date: </label></td>
            <td><input type="date" th:field="*{birthDate}" th:value="${user.birthDate}"/></td>
            <td th:class="err" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"></td>
        </tr>
        <tr>
            <td>Photo</td>
            <td><input type="file" name="file"/></td>
            <td></td>
        </tr>
        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
</form>
</body>
</html>