<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <span th:text="${successUser}"></span>
    <form th:action="@{/add-user}" th:object="${user}" method="POST">
        <table>
            <tr>
                <td><label>Role Name: </label></td>
                <td><select th:field="*{roles}" multiple>
                        <option th:each="role : ${rolelist}" th:value="${role.id}">
                            <span th:text="${role.rolename}"></span>
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label>Name: </label></td>
                <td><input type="text" th:field="*{name}"/></td>
            </tr>
            <tr>
                <td><label>Mobile: </label></td>
                <td><input type="text" th:field="*{mobile}"/></td>
            </tr>
            <tr>
                <td><button type="submit">Insert</button></td>
            </tr>
        </table>
    </form>
<a th:href="@{/}">Home</a>
</body>
</html>